@import "styl/vars&mixins.styl"

//#about_us
//  position relative
//  top -100px
.about_us_text_block
  margin-right 9%
  float left
  width: 41%
  padding 20px 0
  h2
    font-open(30px, light-blue, 700)
    margin-bottom 16px
  p
    font-open(14px, color-text-dark, 400)
    line-height 1.6

.about_us_slider
  margin-left 2%
  position relative
  float left
  width 48%
  img
    display block
    width 100%
.for_both_btns
  box-shadow 6px 6px 9px rgba(0, 0, 0, 0.1)
  background-color #fff
  border-radius 100%
  position absolute
  width 50px
  height 50px
  top 0
  bottom 0
  margin auto

.left_btn_slider
  left -25px

.right_btn_slider
  right -25px

.for_both_rectangles
  centering()

.sprite-rectangle-1
  width: 11px
  height: 19px
  background-position -27px -73px


.sprite-rectangle-2
  width: 11px;
  height: 19px;
  background-position -42px -73px