@import "styl/vars&mixins.styl"

.elements
  position relative

  //img
  //  display none
  //  width 100%

.block_elements_inner
  //height 800px
  background url(../img/backgrounds/AdobeStock.jpg) center no-repeat

.wrap_for_all_elems
  width 62%
  padding 75px 0 125px 0

.elements_wrap
  margin-top 55px
  text-align center
  float left
  width: 23%;
  padding 0 1%
  h4
    font-open(18px, #fff, 700)
    margin-top 30px
    padding-left: 6%;
    padding-right: 6%;
    height: 60px;
  p
    font-open(16px, #fff, 400)
    line-height 1.7

.element_img_wrap
  position relative
  margin auto
  width 70px
  height 70px
  border-radius 100%
  border 2px solid #fff

//.each_element
//  centering()

.sprite-vector-smart-object-health
  width 39px
  height 31px
  background-position -102px -130px


.sprite-vector-smart-object-eye
  width 43px
  height 25px
  background-position -2px -130px


.sprite-vector-smart-object-balance
  width 48px
  height 53px
  background-position -86px -73px


.sprite-vector-smart-object-sleep
  width 34px
  height 34px
  background-position -2px -165px


.sprite-vector-smart-object-weight
  width 40px
  height 34px
  background-position -102px -165px


.sprite-vector-smart-object-bone
  width 19px
  height 51px
  background-position -155px -2px


.sprite-vector-smart-object-flexibility
  width 49px
  height 33px
  background-position -49px -130px;


.sprite-vector-smart-object-pressure
  width 28px
  height 36px
  background-position -143px -57px
