@import "styl/vars&mixins.styl"

#footer
  background-color light-blue

.footer_wrap
  padding-top 90px

.footer_about,
.contact_us
  h3
    font-open(18px, #fff, 700)
    margin-bottom 55px
  p
    font-open(14px, #fff, 400)

.footer_about
  margin-bottom 50px
  float left
  width 41%
  padding-right 10%

.contact_us
  float left
  width 49%
  p
    padding-left 33px

.footer_all_items_in_contact
  margin-bottom 25px
  vertical-align top
  display inline-block
  width 49%
  .inner_for_sign_in_footer
    float left

.copyright
  p
    font-open(16px, #b7bffc, 400)

.footer_soc_net
  a
    margin 20px 1.5% 90px 0
    display inline-block

.copyright
  padding-top 40px
  padding-bottom 40px
  text-align center
  background-color dark-blue

.sprite-pinterest-outlined-logo
  width 17px
  height 21px
  background-position -2px -27px


.sprite-twitter-social-outlined-logo
  width: 25px;
  height: 21px;
  background-position -57px -73px


.sprite-placeholder
  margin-top 3px
  width 15px
  height 21px
  background-position -23px -27px


.sprite-planet-earth
  margin-top 2px
  width 21px
  height 21px
  background-position -2px -73px


.sprite-phone-call
  margin-top 5px
  width 21px;
  height 21px;
  background-position -120px -2px


.sprite-google-plus-outlined-logo-social-symbol
  width 19px
  height 21px
  background-position -72px -2px


.sprite-instagram-social-outlined-logo
  width 21px
  height 21px
  background-position: -95px -2px


.sprite-envelope
  margin-top 5px
  width 21px
  height 13px
  background-position -2px -2px


.sprite-facebook-logo-outline
  width 13px
  height 21px
  background-position -27px -2px
