@import "styl/vars&mixins.styl"

.sprite-logo
  width 67px
  height 42px
  background-position -72px -27px


.header_wrapper
  padding-top 12px
  padding-bottom 7px
  z-index 9999
  position fixed
  background-color #fff
  width 100%

.nav
  li
    display inline-block
    margin 2%

    div
      margin-top 2px
      height 1px

a
  font-open(14px, color-text-dark, 600)
  text-decoration none
  cursor pointer
a:hover
  color dark-blue

.nav_checked
  a {
    color dark-blue
  }

.underline
  height 1px
  width 50%
  background-color dark-blue
  margin-left 25%

.nav_wrap
  display table-cell
  vertical-align: middle
  width 1%

.logo
  text-align center
  div
    display inline-block
  p
    font-family font-champ
    font-size 24px
    font-weight 700
    color dark-blue

.nav_part_left
  text-align right