@import "styl/vars&mixins.styl"
.classes_wrap
  margin-top 125px
.class_img_wrap
  margin 0 1%
  margin-top 25px
  box-shadow 4px 4px 20px rgba(0,0,0,0.1)
  border-radius: 8px
  width 48%
  float left
  img
    width 100%
    display block

.class_even_block
  float right

.title_classes
  margin-bottom 50px
  text-align center
  h2
    font-open(30px, light-blue, 700)
    margin-bottom 10px
  p
    font-free(41px, #777, 400)

.classes_img_text_wrap
//  padding 25px
//  h3
//    font-open(20px, color-text-light, 700)
//    margin 15px 0 20px 0
//  p
//    font-open(14px, color-text-dark, 400)
//    line-height 1.6
  .name
    font-open(14px, color-text-name, 400)
    margin-top 18px

.classes_inner_img
  float left
  width 45%

.classes_inner_text
  float left
  width 55%