.clear_between_blocks_smaller_in_shop {
  clear: both;
  margin-bottom: 100px;
}
.inner_shop_blog {
  height: 1100px;
  background: url("../img/backgrounds/layer13.png") center no-repeat;
}
.block_price_horizontal_line {
  display: inline-block;
  margin: 25px 0;
  width: 99px;
  height: 1px;
  background-color: #d7d7d7;
}
.dollar_sign {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  margin: 25px 10px 0 0;
  vertical-align: top;
}
.num {
  font-family: 'Open Sans', sans-serif;
  font-size: 67px;
  color: #fff;
  font-weight: 700;
}
.month {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
.price_block_in_top {
  padding: 20px 0;
  background-color: #5b6ceb;
  border-radius: 10px 10px 0 0;
}
.shop_btns button {
  margin: 50px 0;
  border-radius: 20px;
}
.wrapper_prices {
  text-align: center;
}
.block_price_shop {
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #555;
  font-weight: 400;
  box-shadow: 6px 6px 50px rgba(0,0,0,0.1);
  float: left;
  width: 32%;
}
.quotes {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  color: #5b6ceb;
  font-weight: 400;
  font-style: italic;
}
.first_quote {
  left: 10px;
  top: -5px;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.second_quote {
  right: 0;
}
.schedule {
  padding-top: 50px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.block_price_shop:nth-child(2) {
  margin: 0 2%;
}
.blog {
  padding-right: 45px;
  box-shadow: 6px 6px 50px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #fff;
  position: relative;
}
.blog_wrapper_photo {
  vertical-align: top;
  margin: 4% 4% 0 4%;
  position: relative;
  display: inline-block;
  width: 148px;
  height: 148px;
  border: 2px solid #d7d7d7;
  border-radius: 100%;
}
.blog_wrapper_photo .layer-9-girl {
  background: url("../img/layer-9-girl.png") no-repeat;
  display: block;
  width: 125px;
  height: 125px;
}
.blog_inner_text {
  width: 70%;
  display: inline-block;
}
.blog_quotes_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #555;
  font-weight: 200;
  line-height: 1.6;
  margin-top: 50px;
  padding: 0 45px;
  float: left;
  width: 88%;
  position: relative;
}
.blog_quotes_text .blog_text {
  font-style: italic;
}
.quotes {
  line-height: 0;
  position: absolute;
}
.trainer_blog {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #777;
  font-weight: 400;
}
.author_blog {
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #5b6ceb;
  font-weight: 700;
}
.blog_slider_both_rectangles {
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  box-shadow: 6px 6px 9px rgba(0,0,0,0.1);
  background-color: #fff;
}
.left_btn_blog_slider {
  top: 0;
  left: -29px;
  bottom: 0;
  margin: auto;
}
.right_btn_blog_slider {
  top: 0;
  right: -29px;
  bottom: 0;
  margin: auto;
}
.blog_inner_slider {
  margin-left: 29px;
}
.blog_inner_slider .name_slider {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #555;
  font-weight: 700;
}
.blog_inner_slider .trainer_slider {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #777;
  font-weight: 400;
}
.wrapper_for_slider_photo {
  display: inline-block;
  background-color: #fff;
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  border: 2px solid #d7d7d7;
}
.wrapper_for_slider_photo .layer-12-girl-small {
  background: url("../img/layer-12-girl-small.png") no-repeat;
  display: block;
  width: 61px;
  height: 61px;
}
.slider_inner_text {
  margin-top: 18px;
  margin-left: 9px;
  display: inline-block;
  vertical-align: top;
}
.wrapper_for_blog_slider {
  position: relative;
  margin-bottom: -36px;
  margin-left: 29px;
  width: 220px;
  height: 72px;
}
.circle_wrap_in_blog {
  position: absolute;
  right: -45px;
  top: 45px;
}
.circle_wrap_in_blog .empty_circle_in_blog,
.circle_wrap_in_blog .circle_in_blog {
  width: 16px;
  height: 16px;
  margin-bottom: 12px;
  border-radius: 100%;
  position: relative;
}
.empty_circle_in_blog {
  border: 2px solid #d7d7d7;
}
.circle_in_blog {
  border: 2px solid #5b6ceb;
}
.circle_in_blog div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #5b6ceb;
}
.shop {
  position: relative;
}
.wrapper_for_shop_blog {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.sprite-rectangle-1-small {
  width: 8px;
  height: 12px;
  background-position: -143px -27px;
}
.sprite-rectangle-2-small {
  width: 8px;
  height: 12px;
  background-position: -42px -43px;
}
