color-text-dark = #555
color-text-light = #777
color-text-name = #999
light-blue = #5b6ceb
dark-blue = #5363db
input-color = #f2f2f2
placeholder-color = #888
border-color = #d7d7d7

font-champ = "Champagne & Limousines", sans-serif;

font-open(size, color, font-weight)
  font-family 'Open Sans', sans-serif;
  font-size size
  color color
  font-weight font-weight

font-free(size, color, font-weight)
  font-family "Freestyle Script", sans-serif;
  font-size size
  color color
  font-weight font-weight

centering()
  top 0
  left 0
  right 0
  bottom 0
  margin auto
  position absolute